/* ============ base styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  font-weight: 400;
  line-height: var(--line-height-base);
  color: var(--text-color-base);
  letter-spacing: 0.05em;
  background-color: var(--color-white);
}

/* ============ base link style */
a {
  color: inherit;
  text-decoration: none;
}

/* ============ base Typography style */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  overflow-wrap: break-word;
}

/* ============ base form elements style */
fieldset {
  border: 0;
}

button,
select {
  appearance: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

textarea {
  resize: vertical;
}

button,
label,
select,
summary,
[role="button"],
[role="option"] {
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

:disabled {
  cursor: not-allowed;
}

label:has(> input:disabled),
label:has(+ input:disabled) {
  cursor: not-allowed;
}

/* ============ base media style */

i {
  font-style: normal;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

img,
picture,
svg,
video {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/* ============ base list style */
ul,
ol {
  list-style: none;
}

/* ============ base table style */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: var(--spacing-sm);
  border: 1px solid var(--border-color-base);
}

/* ============ base horizontal style */
hr {
  display: block;
  height: 1px;
  padding: 0;
  margin: 1em 0;
  border: 0;
  border-top: 1px solid var(--border-color-base);
}

/* ============ base layouts style */
.base {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

/* base header */
.base-header {
  .base-header-container {
    /* TODO: style */
  }
}

/* base main */
.base-main {
  flex: 1;

  .base-main-container {
    /* TODO: style */
  }
}

/* base footer */
.base-footer {
  .base-footer-container {
    /* TODO: style */
  }
}
